<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,96},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,136},{4,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{4,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,96},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,104},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,104},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,104},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,104},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,104},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,104},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,104},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>best.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,49},{150,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,45}}</string>
                <key>sourceSize</key>
                <string>{150,45}</string>
            </dict>
            <key>boy100.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>child100.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>girl100.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{551,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,137}}</string>
                <key>sourceSize</key>
                <string>{551,137}</string>
            </dict>
            <key>over_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,2},{600,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,92}}</string>
                <key>sourceSize</key>
                <string>{600,92}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,96},{190,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,45}}</string>
                <key>sourceSize</key>
                <string>{190,45}</string>
            </dict>
            <key>split.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,136},{6,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{6,23}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,2},{198,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,27},{198,46}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>tap_anywhere.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,96},{671,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{671,47}}</string>
                <key>sourceSize</key>
                <string>{671,47}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,2},{150,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,45}}</string>
                <key>sourceSize</key>
                <string>{150,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>all.pvr.ccz</string>
            <key>size</key>
            <string>{1815,145}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5df66b5f5ab5b895f0d0351097cd510d:1/1$</string>
            <key>textureFileName</key>
            <string>all.pvr.ccz</string>
        </dict>
    </dict>
</plist>
